{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
		<div class="container">


			<div class="booking-title" id="search-dialog">

				<form name="myform" method="GET" action="/search/">

					<div class="form-group form-group-lg form-group-icon-left">
						<center>


							<div class="gap"></div>
							<div class="gap"></div>
							<div class="gap"></div>
							<div class="gap"></div>
							<div class="gap"></div>
							<div class="gap"></div>


							<label>Hey! Where are you heading to?</label>
                            <input id="searchbar" name="searchbar"
								class="form-control" placeholder="" type="text"
								onFocus="this.value=''" style="padding-left: 4px; width: 50%" />
						</center>
					</div>

					<center>
						<button class="btn btn-primary btn-lg" type="submit" formaction="/search/" >Search</button> <br>

					    <button style="background-color: Transparent;background-repeat:no-repeat; border: none; cursor:pointer;overflow: hidden;outline:none;" type="submit" formaction="/showSearchresultJakarta/"><hr/></button>

                    </center>
				</form>

			</div>


		</div>



		<div class="gap"></div>

	<script  src="{% static 'js/jquery.autocomplete.min.js' %}" ></script>
	<script>
		$('#searchbar').autocomplete({
		    serviceUrl: 'http://suggest.autocompleteapi.com/apmq0617g42w/global',
		    paramName: 'prefix',
		    onSelect: function (suggestion) {
		    }
		});
	</script>
{% endblock %}
