{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

        <div class="container">
            <h1 class="page-title">Account Settings</h1>
        </div>




        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="user-profile-sidebar">
                        <div class="user-profile-avatar text-center">
                            <img src="{% static 'img/overnightlogo1.png'%}" alt="Image Alternative text" title="AMaze" />
                            <h5>{{ name }}</h5>
                        </div>
                        <ul class="list user-profile-nav">
                            <li><a href="/user/profile"><i class="fa fa-user"></i>Overview</a>
                            </li>
                            <li><a href="/user/settings"><i class="fa fa-cog"></i>Settings</a>
                            </li>
                            <li><a href="/user/photos"><i class="fa fa-camera"></i>My Travel Photos</a>
                            </li>
                            <li><a href="/user/bookings"><i class="fa fa-clock-o"></i>Booking History</a>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-5">
                            <form action="/user/settings/" method="POST">
                            {% csrf_token %}
                                <h4>Personal Infomation</h4>
                                <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon"></i>
                                    <label>First Name</label>
                                    <input class="form-control" value="{{ traveller.fname }}" name="fname" id="fname" type="text"/>
                                </div>
                                <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon"></i>
                                    <label>Last Name</label>
                                    <input class="form-control" value="{{ traveller.lname }}" name="lname" id="lname" type="text"/>
                                </div>
                                <div class="form-group form-group-icon-left"><i class="fa fa-envelope input-icon"></i>
                                    <label>E-mail</label>
                                    <input class="form-control" value="{{ traveller.email }}" name="email" id="enail" type="text"/>
                                </div>
                                <div class="form-group form-group-icon-left"><i class="fa fa-phone input-icon"></i>
                                    <label>Phone Number</label>
                                    <input class="form-control" value="{{ traveller.phone }}" name="phone" id="phone" type="text"/>
                                </div>
                                <div class="gap gap-small"></div>
                                <h4>Location</h4>
                                <div class="form-group form-group-icon-left"><i class="fa fa-plane input-icon"></i>
                                <div class="form-group">
                                    <label>Street Address</label>
                                    <input class="form-control" value="{{ traveller.streetAddr }}" name="streetAddr" id="streetAddr" type="text"/>
                                </div>
                                <div class="form-group">
                                    <label>City</label>
                                    <input class="form-control" value="{{ traveller.city }}" name="city" id="city" type="text"/>
                                </div>
                                <div class="form-group">
                                    <label>State/Province/Region</label>
                                    <input class="form-control" value="{{ traveller.state }}" name="state" id="state" type="text"/>
                                </div>
                                <div class="form-group">
                                    <label>ZIP code/Postal code</label>
                                    <input class="form-control" value="{{ traveller.zip }}" name="zip" id="zip" type="text"/>
                                </div>
                                <div class="form-group">
                                    <label>Country</label>
                                    <input class="form-control" value="{{ traveller.country }}" name="country" id="country" type="text"/>
                                </div>
                                <hr>
                                <input type="submit" class="btn btn-primary" value="Save Changes">
                            </form>
                            {% if user_status %}
                                <center>
                                    <label style="color:red;">{{ user_status }}</label>
                                </center>
                            {% endif %}
                        </div>
                        <div class="col-md-5">
                            <h4>Change Password</h4>
                            <form action="/changepasswd/" method="POST">
                            {% csrf_token %}
                                <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon"></i>
                                    <label>Current Password</label>
                                    <input class="form-control" type="password" id="current_password" name="current_password"/>
                                </div>
                                <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon"></i>
                                    <label>New Password</label>
                                    <input class="form-control" type="password" id="new_password" name="new_password"/>
                                </div>
                                <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon"></i>
                                    <label>New Password Again</label>
                                    <input class="form-control" type="password" id="new_password_again" name="new_password_again"/>
                                </div>
                                <hr />
                                <input class="btn btn-primary" type="submit" value="Change Password"/>
                            </form>
                            {% if pass_status%}
                                <center>
                                    <label style="color:red;">{{ pass_status }}</label>
                                </center>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div class="gap"></div>
{% endblock %}


